<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit product</title>
  </head>
  <body>
    <h1>Edit product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="product[title]"
          value="<%= product.title %>"
        />
      </div>
      <div>
        <label for="material">Material</label>
        <input
          type="text"
          id="material"
          name="product[material]"
          value="<%= product.material %>"
        />
      </div>
      <button>Done</button>
    </form>
    <a href="/products">All products</a>
  </body>
</html>
