<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css" />

<div class="container-background container-fluid text-white py-5">
  <div class="row align-items-center px-5">
    <div class="col-md-6">
      <h1 class="display-4 fw-bold">Custom printing for brands & you.</h1>
      <p>
        Trusted by 35k+ customers | Easy online ordering | Pan-India Delivery
      </p>
      <a class="btn btn-light me-2">Explore Now</a>
      <a class="btn btn-warning">Get Samples</a>
    </div>
  </div>
</div>

<a href="/products/new">Add new product</a>

<div class="container text-center">
  <div class="row">
    <% for (let prod of product){%>
    <div class="col-lg-4 col-xl-4 py-4 px-6">
      <div class="card" style="width: 18rem">
        <img src="<%= prod.image %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= prod.name %></h5>
          <p class="card-text"><%= prod.description %></p>
          <a href="/products/<%=prod._id%>" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <% }%>
  </div>
</div>
