<% layout('layouts/boilerplate') %>

<h1>All products</h1>
<a href="/products/new">Add new product</a>
<ul>
  <% for (let prod of product){%>
  <li>
    <a href="/products/<%=prod._id%>"><%= prod.title %></a>
  </li>
  <% } %>
</ul>
