<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">New Product</h1>
  <div class="col-lg-6 offset-3">
    <form action="/products" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="product[name]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="stock">Stock</label>
        <input
          class="form-control"
          type="text"
          id="stock"
          name="product[stock]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="product[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Product Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="product[price]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="category">Category</label>
        <select class="form-select" name="product[category]" required>
          <option disabled selected>Select a category</option>
          <!-- disabled because select a category should not be selected as a category itself -->
          <% for (let cat of categories) { %>
          <option value="<%= cat._id %>"><%= cat.name %></option>
          <% } %>
        </select>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="product[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Product</button>
      </div>
    </form>
    <a href="/products">All products</a>
  </div>
</div>
