<% layout('layouts/boilerplate') %>

<h1>Add new product</h1>
<form action="/products" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="product[title]" />
  </div>
  <div>
    <label for="material">Material</label>
    <input type="text" id="material" name="product[material]" />
  </div>
  <button>Add Product</button>
</form>
<a href="/products">All products</a>
